html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Estilos de la pantalla principal */

.sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: #f45d5d;
    padding-top: 30px;
    z-index: 1000;
}

.contenido-principal {
    margin-left: 20px;
}

@@media (max-width: 768px) {

    .contenido-principal {
        margin-left: 0;
    }
}
